header {
  background-color: black;
  display: grid;
  padding: 1rem 1rem;
  grid-template-areas: "who work logo projects garden";
  grid-template-columns: 15% 15% 40% 15% 15%;
  justify-items: center;
  align-items: center;

  @media screen and (max-width:600px) {
    grid-template-areas: "logo" "who" "work" "projects" "garden";
    grid-template-columns: 100%;
    gap: 2rem;
    height: 25rem;
    position: relative;

  }

}

.item{
  text-align: center;
  color: white;
  font-weight: 800;
}

.item:hover{
  font-weight: 900;
}

.logo{
  grid-area: logo;
}
#logoKmi{
  color: white;
}

.who{
  grid-area: who;
}

.works{
  grid-area: work;
}

.project{
  grid-area: projects;
}

.garden{
  grid-area: garden;
}


.close-nav{
  color: white;
  display: none;
  position: absolute;
  top: 1rem;
  left: 85%;
  @media screen and (max-width:600px) {
    display: block;
  }
}

.svg-close-nav{
  fill: white;
  width: 2rem;
}

.icon{
  position: relative;
  display: flex;
  gap: 0.5rem;
}