
/*-----------------------Header---------------- */
header {
  display: grid;
  padding: 1rem 1rem;
  grid-template-areas: "logo who work projects garden button";
  grid-template-columns: 20rem;
  justify-items: center;
  align-items: center;

  @media screen and (max-width:900px) {
    grid-template-areas: "logo" "who" "work" "projects" "garden" "button";
    grid-template-columns: 100%;
    gap: 2rem;
    height: 25rem;
    position: relative;

  }

}

#myHeader {
  transition: 0.3s;
}

.item {
  text-align: center;
  color: white;
  font-weight: 600;
}

.item:hover {
  font-weight: 800;
}


.logo {
  grid-area: logo;
}

#logoKmi {
  color: white;
}

.who {
  grid-area: who;
}

.works {
  grid-area: work;
}

.project {
  grid-area: projects;
}

.garden {
  grid-area: garden;
}
.button-header{
  grid-area: button;
}

i.fa-moon {
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
}

.who:hover i.fa-moon {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

i.fa-laptop-file {
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
}

.work:hover i.fa-laptop-file {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

i.fa-ranking-star {
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
}

.star:hover i.fa-ranking-star {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

i.fa-leaf {
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
}

.leaf:hover i.fa-leaf {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

.bar-nav,
.close-nav {
  display: none;
  position: absolute;
  top: 1rem;
  left: 85%;

  @media screen and (max-width:600px) {
    display: block;
  }

}
.close-nav{
  opacity: 0;
}

.svg-close-nav {
  fill: white;
  width: 2rem;
}

.icon {
  position: relative;
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width:600px) {
  .icon::after {
    content: "";
    width: 22rem;
    height: 0.1rem;
    background-color: white;
    position: absolute;
    top: 2rem;
    right: -8rem;
  }
}

.nav-icon {
  size: 2rem;
}

header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}